body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6A5ACD;
}

.clubs-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.clubs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.club-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.club-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.club-details {
    margin-top: 10px;
    text-align: left;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}